<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PullUpDownLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F92630871D8197F0003F13AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F926309B1D8197F1003F13AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92630A61D8197F1003F13AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
